﻿
@{
    ViewData["Title"] = "Index";
}

<h2>Conciliação Amazon</h2>
<hr />
@if (!string.IsNullOrEmpty(ViewBag.Sucesso))
{
    <h5 class="text-success">@ViewBag.Sucesso</h5>
}
<div class="row">
    <div class="col-lg-5">
        <form method="post" enctype="multipart/form-data" asp-controller="Conciliacao" asp-action="UploadFile">
            <div class="form-group">
                <div class="col-md-10">
                    <p><strong>Selecione um arquivo <string class="text-danger">.xlsx</string></strong></p>
                    <input class="form-control" type="file" name="file" multiple>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" class="form-control btn btn-success" value="Enviar">
                </div>
            </div>
        </form>
    </div>
</div>

